<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/ShowStyle.css">

</head>
<body>

    <div class="header">
        <div class="title">
            <h1>WEST ELM BLUE MART</h1>
        </div>
        <div class="store">
            <a class="btn btn-info" href="/products">Back to Store</a>
        </div>
    </div>

    <div class="showList">
        <h2>Add New Product</h2>
        <form action="/products" method="POST">
            <div class="form-group">
                Name: <input class="form-control" type="text" name="name" placeholder="Seeds" id="name"/>
            </div>
            <div class="form-group">
                Description: <input class="form-control" type="text" name="description" placeholder="A bag of seeds" id="description"/>
            </div>
            <div class="form-group">
                Image Link: <input class="form-control" type="text" name="img" placeholder="paste image link here" id="img"/>
            </div>
            <div class="form-group">
                Price: <input class="form-control" type="number" name="price" placeholder="25" id="price"/>
            </div>
            <div class="form-group">
                Qty: <input class="form-control" type="number" name="qty" placeholder="500" id="qty"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add Product"/>
            </div>
            
        </form>
    </div>
    
    
</body>
</html>